.footer > p{
    margin-top: 4%;
    color: rgb(1, 106, 62);
}
span{
    color: rgb(114, 113, 113);
    padding-left: 10px;
    padding-right: 10px;
}

.lower{
    display: flex;
    justify-content: center;
    background-color: rgb(184, 180, 180);
   
    width: 100%;
}
