$onesideborder:  4px solid rgb(118, 189, 236);

body{
    background-color: rgba(212, 212, 220, 0.506);
    text-align: center;
    font-family: "Quicksand", sans-serif;
    margin: 0;
}

@import 'header';
@import 'card';
@import 'footer';








