.container{
    margin-top: 2%;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 4%;
    
}

.item1{
    background-color: #FFFFFF;
    border-radius: 2px;
    width: 476px;
    padding: 2% 0 0 2%;
}


.content{
    display: flex;
    padding: 2% 0 0 2%;
    img{
        width: 132px;
        height:157px;
        max-width: 132px;
    }
}

.info{
    margin-left: 16px;
    text-align: left;
}

.info h3{
    margin-top:0;
    margin-bottom: 7px;
    font-size: 16px;
    color: #222222;
}

.info p{
    color:#666666;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 7px;
}

.info select{
    all:unset;
    width: 210px;
    height: 27px;
    font-size: 16px;
    font-weight: bold;
    color: #222222;
    border-bottom: 1px solid #000000;
    margin-bottom: 8px;
    margin-top: 5px;
    background: url("../icons/arrow-down.svg") no-repeat right;
    padding-right: 54px;
}


.favourite img{
    width: 20px;
    height: 24px;
}
.cardbtns{
    margin: 16px 20px 9px 20px;
    padding: 16px 24px 0 24px;
    @include center();
    justify-content: space-between;
    border-top: 2px solid #e4e0e0;
}